body {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    color: #445C6E;
}

/* section.hero.is-small {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
} */

.column.is-9 {
    position: absolute;
    top: 0;
    right: 0;
}

.column.is-3 {
    position: fixed;
    top: 0;
    left: 0;
    min-height: -webkit-fill-available;
    background-color: #445C6E;
    color:aliceblue;
}

/* div.hero-body, div.hero-foot {
    font-family: 'Julius Sans One', sans-serif;
    background-color: aliceblue;
    color: darkcyan;
} */

h1.title {
    font-size: 4rem;
    font-weight: 100;
    color: aliceblue;
}

h2.subtitle {
    color: #36CEC7;
    font-size: 3rem;
    /* font-weight: 550; */
}

h2.title {
    border-bottom: 2px solid #36CEC7;
    color: #445C6E;
}

h2.title.skills {
    border-bottom: 2px solid aliceblue;
    color: #36CEC7;
    margin-top: 2rem;
}

a {
    color: aliceblue;
}
a:hover, a.project-title:hover {
    color: #36CEC7;
}

a.project-title {
    color: #445C6E;
}

.date {
    font-style: italic;
}

.contact {
    margin-top: 3rem;
}
/* p {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
} */

/* section.section {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: aliceblue;
    border-radius: 3rem;
} */